.button {
	display: table;
	margin: .5rem 0;
	padding: 0 1rem;
	line-height: 2rem;
	font-size: 1rem;
	white-space: nowrap;
	background: var(--primary-color);
	outline: 0;
	border: 0;
	border-top: 3px solid;
	border-top: 3px solid transparent;
	border-bottom: 3px solid rgba(0, 0, 0, .1);
	border-radius: 3px;
	cursor: pointer;
	transition: box-shadow .2s ease;
	
	&:hover,
	&:focus {
		box-shadow: 0 0 16px var(--primary-color);
	}

	&:active {
		border-top-color: rgba(0, 0, 0, .1);
		border-bottom-color: transparent;
	}
}
